# Name of the underlying protocol
NAME=Livepeer
# Symbol of the token of the underlying protocol
SYMBOL=LPT
# Staking contract of the underlying protocol
CONTRACT=0x68B1D87F95878fE05B998F19b66F4baba5De1aed
# Token contract of the underlying protocol
TOKEN=0x5FC8d32690cc91D4c39d9d3abcBD16989F875707
# Initial validator on the underlying protocol to stake to
VALIDATOR=0xe426ad6DDF3905de9D798f49cb19d6E9A6a3335f
# Initial amount to seed the Tenderizer with. 50% is deposited
# The received TenderTokens and remaining tokens are used to seed the liquidity pool
STEAK_AMOUNT=100000
# Amount of tokens to seed the faucet with (testnet only)
FAUCET_SEED_AMOUNT=100000
# Amount of tokens that can be requested from the faucet per time (testnet only)
FAUCET_REQUEST_AMOUNT=100
# Rate-limit (in hours) between faucet requests
FAUCET_REQUEST_WAIT=1